<h1>File Upload</h1>
<%= form_tag({:action => 'uploadFile'}, :class => "autoupload", :multipart => true, :remote => true ) do %>
  <p><label for="upload_file">Select File</label> : 
  <%= file_field 'upload', 'datafile', :multiple => true, :class => "filefield"%></p>
  <%= submit_tag "Upload" %>
  <div class="filedrag">drop files here</div>
  <div class="messages"></div>
<% end %>
